.jumbotron {
	background-color: #21D3CB;
	color: black;
	margin-top: 50px; 
}
.breadcrumb{
	background-color: #D3D8D8;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #21D3CB;
	margin-bottom: 0px;
	margin-top: 10px; 
}
.card-celda {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}
.btn-mas{
	width: 100%;
	border-radius: 0;
}
.footer-address-icon{
	padding-right: 10px;
}
.img-banner{
	max-width: 100%;
	 height: auto;
}
.tab-content {
	padding-top: 10px;
}
.btn-suscrib {
	margin: 0 auto;
	display: block;
}
