$blue: #56d6d4;
$yellow: #b4d442;
$red: #a30e07;
$green: #24b529;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $blue;
	color: black;
	@include margenes(50px, 15px); 
}
.breadcrumb{
	background-color: #c0c4c4;	
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $blue;
	@include margenes(10px, 0px); 
	
}
.card-celda {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}
.btn-mas{
	width: 100%;
	border-radius: 0;
}
.footer-address-icon{
	padding-right: 10px;
}
.img-banner{
	max-width: 100%;
	 height: auto;
}
.tab-content {
	padding-top: 10px;
}
.btn-suscrib {
	margin: 0 auto;
	display: block;
}
