@blue: #56d6d4;
@yellow: #b4d442;
@red: #a30e07;
@green: #24b529;

.margenes(@top:opx, @bottom:0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: black;
  .margenes(50px, 10px);
  }

.breadcrumb {
  background-color: #c0c4c4; }

footer {
  padding: 10px 10px 0 10px;
  background-color:@blue;
  .margenes(10px, 0px);
  }

.card-celda {
  flex: 1 150px;
  padding: 2px 5px 2px 5px; }

.btn-mas {
  width: 100%;
  border-radius: 0; }

.footer-address-icon {
  padding-right: 10px; }

.img-banner {
  max-width: 100%;
  height: auto; }

.tab-content {
  padding-top: 10px; }

.btn-suscrib {
  margin: 0 auto;
  display: block; }