.jumbotron {
  background-color: #b4d442;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px;
}
.breadcrumb {
  background-color: #c0c4c4;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #b4d442;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-celda {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
}
.btn-mas {
  width: 100%;
  border-radius: 0;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-banner {
  max-width: 100%;
  height: auto;
}
.tab-content {
  padding-top: 10px;
}
.btn-suscrib {
  margin: 0 auto;
  display: block;
}
